<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Spring Data REST + React JS</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <!-- tag::logout[] -->
        <div>
            Hello, <span id="managername" th:text="${#authentication.name}">user</span>.
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out"/>
            </form>
        </div>

        <div>
            <form th:action="@{/editUsers}" method="get">
                <input type="submit" value="Edit Users"/>
            </form>
        </div>

        <div>
            <form th:action="@{/mailusers}" method="get">
                <input type="submit" value="List Mail Users"/>
            </form>
        </div>

        <div>
            <form th:action="@{/users}" method="get">
                <input type="submit" value="List Users"/>
            </form>
        </div>

        <div>
            <form th:action="@{/pagingProducts}" method="get">
                <input type="submit" value="List Products"/>
            </form>
        </div>

        <div>
            Spring Boot Social Login Example
            <form th:action="@{/facebooklogin}" method="get">
                <input type="submit" value="Validate using Facebook"/>
            </form>
        </div>

        <!-- end::logout[] -->

        <!--
        <div id="react"></div>

        <script src="built/bundle.js"></script>
        -->
    </body>
</html>