<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    </head>
    <body>
        <h1>Users</h1>

        <nav>
            <ul class="pagination" th:with="total = ${mailusers.totalPages}">
                <li th:if="${mailusers.hasPrevious()}">
                    <a th:href="@{/mailusers(page=${mailusers.previousPageable().pageNumber},size=${mailusers.size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, total - 1)}"><a th:href="@{/mailusers(page=${page},size=${mailusers.size})}" th:text="${page + 1}">1</a></li>
                <li th:if="${mailusers.hasNext()}">
                    <a th:href="@{/mailusers(page=${mailusers.nextPageable().pageNumber},size=${mailusers.size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <ol>
            <li th:each="mailuser, it : ${mailusers}" th:with="index = ${it.count}" th:text="${mailuser.name + ' - ' + mailuser.email}" th:value="${mailusers.number * mailusers.size + index}">Username</li>
        </ol>

        <form method="post" role="form" class="gb-form" id="form" th:action="@{/mailusers(page=${page},size=${mailusers.size})}" th:object="${userForm}">

            <ul th:if="${#fields.hasErrors('*')}" class="errors" >
                <li th:each="error : ${#fields.errors('*')}" th:text="${error}" class="text-danger">Input is incorrect</li>
            </ul>

            <div class="form-group">
                <label for="name">Username</label><br />
                <input type="text" th:field="*{name}" class="form-control" th:errorclass="fieldError" required="required" />
            </div>
            <div class="form-group">
                <label for="email">Email</label><br />
                <input type="text" th:field="*{email}" class="form-control" th:errorclass="fieldError" required="required" />
            </div>
            <input type="submit" class="btn btn-default" value="Register user" />
        </form>

        <div>
            Go back.
            <form th:action="@{/}" method="get">
                <input type="submit" value="Go back"/>
            </form>
        </div>
    </body>
</html>